* {
    box-sizing: border-box;
}
body {
    font-family: Arial, Helvetica, sans-serif;
}


.header {
    overflow: hidden;
    background-color: #f8dede;
    padding: 0px 10px;
}
.header a {
    float: left;
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px; 
    line-height: 25px;
    border-radius: 4px;
}
.responsive {
    padding: 0 6px;
    float: left;
    width: 24.99999%;
}
img{
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    margin-left: auto;
    margin-right: auto;
    width: 50px;
}
.header a:hover {
    background-color: rgb(241, 201, 201);
    color: black;
}

.header a.active {
    background-color: rgb(248, 112, 141);
    color: white;
}

.header-right {
    float: right;
}
.header-right input[type=text] {
    float: right;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
}
.aside-menu{
    
    float: right;
    width: 150px;
    padding: 50px 5px;
}

.aside-menu a {
    background-color: #f8dede;
    color: black;
    display: block;
    padding: 12px;
    text-decoration: none;
}

.aside-menu a:hover {
    background-color: rgb(241, 201, 201);
}

.main h2{
    padding-top: 50px;
    text-align: center;
    text-shadow: 2px 2px 5px red;
}

.main p{
    text-align: justify;
    padding: 10px 10px;
    overflow: hidden;
    font-size: 2em;
}
.footer {
    overflow: hidden;
    bottom: 0;
    width: 100%;
    background-color: #f8dede;
    color: white;
}
.footer p{
    float: left;
    color: black;
    padding: 12px;
    text-decoration: none;
    font-size: 1em; 
    line-height: 25px;
    border-radius: 4px;
}
.imagns{
    float: right;
}



@media screen and (max-width: 500px) {
    .header a, .main p{
        float: none;
        display: block;
        text-align: left;
    }
    
    .header-right {
        float: none;
    }
    
    

}
@media only screen and (max-width: 700px) {
    .responsive {
        width: 49.99999%;
        margin: 6px 0;
    }
}

@media only screen and (max-width: 500px) {
    .responsive {
        width: 100%;
    }
}

